body{
    font-family:'Times New Roman', Times, serif;
}
#it1{
    width: 100%;
    overflow: auto;
}
#id9{
    float: left;
    width:50%;
}
#it10{
    float: right;
    width: auto;
    display: flex;
    color: rgb(49, 48, 48);
    font-size:large;
    text-align: center;
    margin-top: 16px;
}
header div nav{
    margin: 10px 10px 10px 10px;
    padding: 15px 15px 15px 15px;
}
header div nav:hover{
    color: white;
    background-color: black;
    border-radius: 10px;
}
#it4 img{
    width: 10%;
    height: 10%;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
}
#id5{
    width: 100%;
    overflow: auto;
}
#it2{
    width:36%;
    float: left;
    margin-top: 6%;
    margin-left: 50px ;
    font-size: x-large; 
}
#it3{
    width: 60%;
    float: right;
}
#it6{
    text-align: justify;
    color: gray;
}

#it7, #it8{
    color: white;
    background-color: rgb(75, 5, 141);
    border-radius: 5px;
    padding: 8px 4px 8px 4px;
}
#it7{
    width:22%;
    height: auto ;
}
#it8{
    width: 27%;
    height: auto;
    margin-left: 25px;
}
/* 1 page com */