*{
    box-sizing: border-box;
}


body{
    font-family:'Times New Roman', Times, serif;
}
#it1{
    width: 100%;
    overflow: auto;
    margin-top: 2%;
}
#it9{
    float: left;
    width:25%;
    height: 25%;
}
#it9 img{
    width: 100%;
    height: 100%;  
}
#it10{
    float: right;
    width: 72%; 
    height: 72%;
    color: rgb(49, 48, 48);
    font-size:large;
    margin-top: 5px;
    overflow: auto;
    font-family:'Times New Roman', Times, serif;
}
#it10 nav{
    
    width: 11%;
    float: right;
    text-align: center;
    padding: 8px 2px 8px 2px;
    margin-right: 8px ;
}
#it10 nav:hover{
    color: white;
    background-color: black;
    border-radius: 10px;
}


#id5{
    width: 100%;
    overflow: auto;
}
#it2{
    width:35%;
    float: left;
    font-size: x-large;
    top: 25%;
    position:absolute;  
    left: 4%;  
    font-family:'Times New Roman', Times, serif;
}
#it3{
    width: 60%;
    float: right;
    margin-top: 4%;
    font-family:'Times New Roman', Times, serif;
}
#it3 img{
    width: 100%;
}
#it4 img{
    width: 10%;
    height: 10%;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
}
#it6{
    text-align: justify;
    color: gray;
}
#it7, #it8{
    color: white;
    background-color: rgb(75, 5, 141);
    border-radius: 5px;
    padding: 8px 4px 8px 4px;
}
#it7{
    width:22%;
    height: auto ;
}
#it8{
    width: 27%;
    height: auto;
    margin-left: 25px;
}

/* 1 page com */

#it11{
    width: 100%;
    overflow: auto;
    font-family:'Times New Roman', Times, serif;
}
#it12{
    width: 60%;
    float: left;
    margin-top: 11%;
}
#it12 img{
    width: 100%;
}
#it13{
    width: 39%;
    float: right;
    margin-top: 8%;
    font-size: x-large;
}
#it13 p{
    text-align: justify;
    margin-right: 10%;
    color: gray;
}
#it13 nav img{
    width: 8%;
    height: 8%;
    margin-left: 20px;
}






 
#it17{
    font-size: medium;
}











/* 2 page com */








#it14{
    width: 100%;
    overflow: auto;
}
#it15{
    width:60%;
    float: right;
    margin-top: 12%;
}
#it15 img{
    width: 100%;
}


#it16{
    width:34%;
    float: left;
    margin-top: 10%;
    position: absolute;
    font-size: x-large;
}

#it16{
    left: 3%;
}




/* jsdhbcsdhbdsfhbsdh*/



.skills-bar{
    width: 580px;
    background: #fff;
    border-radius: 10px;
    padding: 25px 30px;
     
}

.skills-bar .bar{
    margin: 20px 0;
}

.skills-bar .bar.bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;

    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
100%{
    opacity: 1;
}


}


.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgb(0, 76, 255);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;                  
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
    
}

.progress-line.html span{
    width: 95%;
}

.progress-line.javascript span{
    width: 65%;
}
.progress-line.css span{
    width: 80%;
}
.progress-line.c span{
    width: 85%;
}
.progress-line.python span{
    width: 75%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5 1.5 linear forwards;

}
.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5 1.5 linear forwards;
}

@keyframes showText2 {
    100%{
        opacity: 1;
    }

    
}


footer{
    margin-top: 30%;
}




































.page-4{
    overflow: auto;
    border: 1px solid black;
}


.image-4 {
    float: right;
    border: 1px solid red;
    float: right;
    
}




.i1 {
    border: 1px solid red;
    float: left;
}



.line-4 {
    border: 1px solid red;
    font-size: x-large;
   
    margin-left: 4%;
    width: 30%;
}


















